<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Еда</title>
</head>
<body>
<form method="get" action="/">
    <input type="submit" value="Назад"/>
</form>
<h2>Список всей еды</h2>
<table>
    <tr>
        <td>Название</td> <td>Базовый вес</td> <td>Калории</td> <td>Белки</td> <td>Жиры</td> <td>Углеводы</td>
    </tr>
    {% for f in food %}
    <tr>
        <td>{{f[0]}}</td> <td>{{f[1]}}</td> <td>{{f[2]}}</td>
        <td>{{f[3]}}</td> <td>{{f[4]}}</td> <td>{{f[5]}}</td>
    </tr>
    {% endfor %}
</table>
<br/>
<form method="post" action="food/add">
    <h4>Добавить еду</h4>
    <p>Название</p>
    <input type="text" name="name"/>
    <p>Базовый вес</p>
    <input type="number" name="base_weight"/>
    <p>Калории</p>
    <input type="text" name="calories"/>
    <p>Белки</p>
    <input type="text" name="proteins"/>
    <p>Жиры</p>
    <input type="text" name="fats"/>
    <p>Углеводы</p>
    <input type="text" name="carbohydrates"/>
    <br/> <br/>
    <input type="submit" value="Добавить"/>
</form>
<p>{{error}}</p>
</body>
</html>